@import url('https://fonts.googleaplis.com/css?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css?family=Akronim|Raleway&display=swap');
body {
    font-family: 'Releway', sans-serif;
    font-size: 1.2em;
}

.text-title {
    font-family: 'akronim', cursive;
    font-size: 8em;
    color: #2c3e50;
}

.text-subtitle {
    font-family: 'Raleway';
    font-size: 2em;
    color: #2c3e50;
}

.bg-title {
    /*background-image: linear-gradient(to bottom right, #6c5ce7, #81ecec);*/
    background: url(../img/psic.jpg) center center no-repeat;
    background-size: cover;
}

.rodape {
    background-color: #a29bfe;
}

.mdi-icone {
    font-size: 3em;
}

.menu {
    background-color: #a29bfe;
}