@import url('https://fonts.googleaplis.com/css?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css?family=Akronim|Raleway&display=swap');
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
}

.text-title {
    font-family: 'Kaufmann BT', cursive;
    font-size: 5em;
    color: #2c3e50;
}

.text-subtitle {
    font-family: 'Raleway';
    font-size: 2em;
    color: #2c3e50;
}

.bg-imagem-fundo {
    /*background-image: linear-gradient(to bottom right, #6c5ce7, #81ecec);*/
    background: url(../img/psic.jpg) center center no-repeat;
    background-size: cover;
}

.bg-nav {
    background-color: #cf6a87;
    margin-top: -4rem;
}

.bg-footer {
    background-color: #cf6a87;
}

.bg-sobre {
    background: url();
    background-size: cover;
    background-position: center center;
}

.img-banner {
    height: 30rem;
    min-height: 30rem;
    max-height: 30rem;
    object-fit: cover;
}

.img-card {
    height: 30rem;
    min-height: 10rem;
    max-height: 10rem;
    object-fit: cover;
}

.form-control:focus {
    border-color: #cf6a87;
    box-shadow: 0 0 0 0.2rem rgba(146, 28, 120, 0.25);
}